%btn {
    display: inline-block;
    width: 250px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    background-color: rgb(233, 74, 220);
    margin: 100px 50px;
    border-color: none;
}